/* RESET - Start */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-inline-size: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*RESET - stop*/
body {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 100vw;
  block-size: 100vh;
  background-color: rgb(10, 12, 28);
  padding: 0 clamp(1.5rem, -3.152rem + 19.847vw, 6.375rem); /* min: 24px, max: 102px */
}

.card {
  inline-size: 100%;
  max-inline-size: 70.5rem;
  background-color: rgb(27, 25, 55);
  color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  overflow: hidden;
}
.card__hero {
  position: relative;
}
.card__hero::after {
  content: "";
  position: absolute;
  background-color: rgba(171, 92, 219, 0.9);
  mix-blend-mode: multiply;
  inset: 0;
}
.card__image {
  inline-size: 100%;
  block-size: auto;
  filter: contrast(0.6) brightness(1.2);
}
.card__content {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 1.5rem 2rem;
  text-align: center;
}
.card__header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.card__title {
  font-family: "Inter", sans-serif;
  font-size: 1.75rem;
  line-height: 1.25;
  font-weight: 700;
  letter-spacing: 0;
}
.card__spec {
  color: rgb(171, 92, 219);
}
.card__desc {
  font-family: "Inter", sans-serif;
  font-size: 0.9375rem;
  line-height: 1.65;
  font-weight: 400;
  letter-spacing: 0;
  opacity: 0.75;
}
.card__stats {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.card__number {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0;
}
.card__name {
  font-family: "Lexend Deca", sans-serif;
  font-size: 0.75rem;
  line-height: 2;
  font-weight: 400;
  letter-spacing: 0.0625rem;
  opacity: 0.6;
  text-transform: uppercase;
}

@media (min-width: 48rem) {
  .card__content {
    padding: 4rem 5rem;
    text-align: start;
    gap: 4.5rem;
  }
  .card__header {
    gap: 1.5rem;
  }
  .card__title {
    font-family: "Inter", sans-serif;
    font-size: 2.25rem;
    line-height: 1.25;
    font-weight: 700;
    letter-spacing: 0;
  }
  .card__stats {
    flex-direction: row;
    gap: 0;
    justify-content: space-between;
  }
}
@media (min-width: 64rem) {
  .card {
    display: flex;
    flex-direction: row-reverse;
  }
  .card__hero {
    inline-size: 50%;
  }
  .card__image {
    block-size: 100%;
    object-fit: cover;
  }
  .card__content {
    inline-size: 50%;
    padding: 4rem 5rem;
  }
}
